.barra {
    display: flex;
    flex-direction: column; // Vertical en un dispositivo mas pequeño
    padding-top: 3rem;
    
    @include tablet {
        flex-direction: row; // Horizontal en un dispositivo mas grande
        justify-content: space-between;
    }
}

.navegacion {

    @include tablet {
        display: flex;
        gap: 2rem;
        align-items: center;
    }

    a {
        color: $blanco;
        text-decoration: none;
        font-size: 2.2rem;
        display: block;
        text-align: center;

        @include tablet {
            font-size: 1.8rem;
        }
    }
}