.derecha {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
        align-items: flex-end;
    }

    .dark-mode-boton {
        width: 3rem;
        margin: 2rem 0;
        filter: invert(100%);

        &:hover {
            cursor: pointer;
        }

        @include tablet {
            margin-top: 0;
        }
    }
}

.barra {
    display: flex;
    flex-direction: column; // Vertical en un dispositivo mas pequeño
    padding-top: 3rem;
    align-items: center;
    

    @include tablet {
        flex-direction: row; // Horizontal en un dispositivo mas grande
        justify-content: space-between;
        align-items: flex-end;
    }
}

.navegacion {

    visibility: hidden;
    opacity: 0;
    transition: visibility .2s ease-in-out, opacity 0.2s linear;

    @include tablet {
        display: flex;
        gap: 2rem;
        align-items: center;
        opacity: 1;
        visibility: visible;
    }

    a {
        color: $blanco;
        text-decoration: none;
        font-size: 2.2rem;
        display: block;
        text-align: center;

        &:hover {
            color: $verde;
        }

        @include tablet {
            font-size: 1.8rem;
        }
    }
}

/** Menu de hamburguesa **/
.mobile-menu {
    @include tablet {
        display: none;
    }

    img {
        width: 7rem;
    }
}

.mostrar {
    visibility: visible;
    opacity: 1;
}